# -------------------
# - Client settings -
# -------------------
[client]
port                     = 3306
socket                   = /var/lib/mysql/mysql.sock
default-character-set    = utf8


# -------------------
# - Server settings -
# -------------------
[mysqld]
datadir                  = /var/lib/mysql
socket                   = /var/lib/mysql/mysql.sock
user                     = mysql
symbolic-links           = 0
default-storage-engine   = innodb

# Charset
character-set-server     = utf8
collation-server         = utf8_general_ci

# Logging
log-error                = /var/log/mysql/mysqld.log
slow_query_log_file      = /var/log/mysql/mysqld_slow.log
long_query_time          = 10
log-warnings             = 2

# Max size of incoming data to allow
max_allowed_packet       = 128M

## Query Cache
query_cache_size         = 64M
query_cache_limit        = 2M

# Semisynchronous Replication
# http://dev.mysql.com/doc/refman/5.5/en/replication-semisync.html
# uncomment next line on MASTER
;plugin-load=rpl_semi_sync_master=semisync_master.so
# uncomment next line on SLAVE
;plugin-load=rpl_semi_sync_slave=semisync_slave.so

# Others options for Semisynchronous Replication
;rpl_semi_sync_master_enabled=1
;rpl_semi_sync_master_timeout=10
;rpl_semi_sync_slave_enabled=1

# http://dev.mysql.com/doc/refman/5.5/en/performance-schema.html
;performance_schema


# ---------------------
# - Safemode settings -
# ---------------------
[mysqld_safe]
log-error                = /var/log/mysql/mysqld.log
pid-file                 = /var/run/mysqld/mysqld.pid
slow_query_log_file      = /var/log/mysql/mysqld_slow.log
long_query_time          = 10
log-warnings             = 2


# -------------------
# - Dumper settings -
# -------------------
[mysqldump]
quick
max_allowed_packet       = 256M
